@theme {
  --color-gray-1: #f6f6f6;
  --color-gray-2: #e2e2e2;
  --color-gray-3: #8b8b8b;
  --color-gray-4: #6f6f6f;
  --color-gray-5: #3e3e3e;
  --color-gray-6: #222222;
  --color-rose-1: #fff7f9;
  --color-rose-2: #ffdce5;
  --color-rose-3: #ff3b8d;
  --color-rose-4: #db0072;
  --color-rose-5: #800040;
  --color-rose-6: #4c0023;
  --color-raspberry-1: #fff8f8;
  --color-raspberry-2: #ffdddf;
  --color-raspberry-3: #ff426c;
  --color-raspberry-4: #de0051;
  --color-raspberry-5: #82002c;
  --color-raspberry-6: #510018;
  --color-red-1: #fff8f6;
  --color-red-2: #ffddd8;
  --color-red-3: #ff4647;
  --color-red-4: #e0002b;
  --color-red-5: #830014;
  --color-red-6: #530003;
  --color-orange-1: #fff8f5;
  --color-orange-2: #ffded1;
  --color-orange-3: #fd4d00;
  --color-orange-4: #cd3c00;
  --color-orange-5: #752100;
  --color-orange-6: #401600;
  --color-cinnamon-1: #fff8f3;
  --color-cinnamon-2: #ffdfc6;
  --color-cinnamon-3: #d57300;
  --color-cinnamon-4: #ac5c00;
  --color-cinnamon-5: #633300;
  --color-cinnamon-6: #371d00;
  --color-amber-1: #fff8ef;
  --color-amber-2: #ffe0b2;
  --color-amber-3: #b98300;
  --color-amber-4: #926700;
  --color-amber-5: #523800;
  --color-amber-6: #302100;
  --color-yellow-1: #fff9e5;
  --color-yellow-2: #ffe53e;
  --color-yellow-3: #9c8b00;
  --color-yellow-4: #7d6f00;
  --color-yellow-5: #463d00;
  --color-yellow-6: #292300;
  --color-lime-1: #f7ffac;
  --color-lime-2: #d5f200;
  --color-lime-3: #819300;
  --color-lime-4: #677600;
  --color-lime-5: #394100;
  --color-lime-6: #222600;
  --color-green-1: #f5ffe7;
  --color-green-2: #d3ff8c;
  --color-green-3: #6ebe00;
  --color-green-4: #569500;
  --color-green-5: #325400;
  --color-green-6: #1d3100;
  --color-jade-1: #f3fffc;
  --color-jade-2: #c6fbe7;
  --color-jade-3: #00cb7a;
  --color-jade-4: #009a5e;
  --color-jade-5: #005837;
  --color-jade-6: #003322;
  --color-mint-1: #f3fffe;
  --color-mint-2: #c3fff9;
  --color-mint-3: #00e4d8;
  --color-mint-4: #00b3a8;
  --color-mint-5: #006963;
  --color-mint-6: #003d3b;
  --color-teal-1: #f2ffff;
  --color-teal-2: #bdfcff;
  --color-teal-3: #00d1e9;
  --color-teal-4: #00a5b8;
  --color-teal-5: #005e6e;
  --color-teal-6: #00363e;
}
