
@media (prefers-color-scheme: dark) {
  [data-mode="system"] {
      --mode-color-shadow-50:rgb(255 255 255 / 0.05);
      --mode-color-shadow-100:rgb(255 255 255 / 0.1);
      --mode-color-shadow-120:rgb(255 255 255 / 0.12);
      --mode-color-shadow-150:rgb(255 255 255 / 0.15);
      --mode-color-shadow-250:rgb(255 255 255 / 0.25);
  }
}

[data-mode="dark"] {
  --mode-color-shadow-50:rgb(255 255 255 / 0.05);
  --mode-color-shadow-100:rgb(255 255 255 / 0.1);
  --mode-color-shadow-120:rgb(255 255 255 / 0.12);
  --mode-color-shadow-150:rgb(255 255 255 / 0.15);
  --mode-color-shadow-250:rgb(255 255 255 / 0.25);
  }