
@media (prefers-color-scheme: light) {
    [data-mode="system"] {
        --mode-color-shadow-50:rgb(0 0 0 / 0.05);
        --mode-color-shadow-100:rgb(0 0 0 / 0.1);
        --mode-color-shadow-120:rgb(0 0 0 / 0.12);
        --mode-color-shadow-150:rgb(0 0 0 / 0.15);
        --mode-color-shadow-250:rgb(0 0 0 / 0.25);
    }
  }
  
  [data-mode="light"] {
    --mode-color-shadow-50:rgb(0 0 0 / 0.05);
    --mode-color-shadow-100:rgb(0 0 0 / 0.1);
    --mode-color-shadow-120:rgb(0 0 0 / 0.12);
    --mode-color-shadow-150:rgb(0 0 0 / 0.15);
    --mode-color-shadow-250:rgb(0 0 0 / 0.25);
    }